<div class="login-account">
<h1>Login</h1>

<% if flash[:error] %>
    <br>
<strong>
    <%= flash[:error] %>

</strong>
    <br>
<%end%>

<%= form_with url: login_path, local: true do |f| %>
<%= f.label :email, 'Email Address' %>
<br>
<%= f.text_field :email %>
<br>
<%= f.label :password %>
<br>
<%= f.password_field :password %>
<br>
<%= f.submit 'Login' %>

<% end %>
</div>
