<!DOCTYPE html>
<html>
  <head>
    <title>BackendPgpServer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
  </head>

  <body>
  <nav>
  <header>
    <%# Link to login, singup, edit and delete functions %>
      <div class="login">
          <% if @current_user.present? %>
            Welcome, <%= @current_user.name %>
            ||
            <%= link_to 'Log-Out', login_path, method:'delete'%>
            ||
            <%= link_to 'Edit Account', edit_user_path(@current_user.id)%>
            ||
            <%= link_to 'Profile', user_path(@current_user.id) %> 
            ||
            <%# Pop-up message warning users to confirm deleting a profile before proceeding %>
            <%= link_to 'Delete Account', user_path(@current_user.id), method: 'delete', :data => { :confirm => 'Are you sure you want to Delete your account?'} %>
            <% else %>
            <%= link_to 'Login', login_path %>
            ||
            <%= link_to 'Sign Up', new_user_path %>
          <% end %>
        </div>
  </header>
  
  
  </nav>
    <%= yield %>
  </body>
</html>
